.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.modal-content {
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 10px;
  width: 500px; /* Ajusta el ancho según sea necesario */
  text-align: left; /* Alinear texto a la izquierda */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
}

.modal-details {
  margin-top: 10px; /* Espaciado superior */
  font-size: 16px; /* Tamaño de fuente */
  line-height: 1.5; /* Espaciado entre líneas */
}

.modal-close {
  background-color: #4CAF50; /* Fondo verde */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  margin-top: 20px; /* Espaciado superior */
  display: block; /* Asegúrate de que el botón esté en una nueva línea */
  width: 100%; /* Botón ocupa todo el ancho */
}

.modal-close:hover {
  background-color: #45a049; /* Color más oscuro al pasar el mouse */
}